@keyframes detonator {
  0%{
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  50%{
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
  }
 100%{
    top: 0;
    right: 0;
    bottom:0;
    left:0;
  }
} ;
@keyframes explode {
  0%{
   transform: rotate(0);
  }
  25%{
    transform: rotate(360deg);
  }
  50%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0);
  }
} ;
